@import "tailwindcss";

:root {
  /* Define your raw values here */
  --background: #f3f4f6;
  --foreground: hsl(0, 0%, 9%);
  overscroll-behavior: none;
  /* POS Specifics */
}

@theme inline {
  /* Map Tailwind utilities to your variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Define your custom colors */
  --color-primary-1: #c51d71;
  --color-primary-1-hover: #e63389;

  /* Fix the font to use Poppins as the default sans */
  --font-sans: var(--font-poppins), sans-serif;
}

body {
  /* Use the Tailwind utility we just mapped above */
  @apply bg-background text-foreground antialiased;

  /* POS Essentials */
  font-family: var(--font-poppins), sans-serif;
}
